# **NYC Film Permits Analysis**
## Data Cleaning and pre-processing for analysis

In [50]:
# importing libraries
import numpy as np
import pandas as pd

In [51]:
# Importing data file
df = pd.read_csv('data.csv')
df.head()

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
0,753784,Theater Load in and Load Outs,12/24/2023 12:01:00 AM,12/31/2023 11:59:00 PM,12/18/2023 12:59:21 PM,Mayor's Office of Media & Entertainment,WEST 62 STREET between COLUMBUS AVENUE and A...,Manhattan,7,20,Theater,Theater,United States of America,10023
1,752706,Shooting Permit,12/13/2023 06:00:00 AM,12/13/2023 08:00:00 PM,12/06/2023 09:01:38 AM,Mayor's Office of Media & Entertainment,HUDSON STREET between MORTON STREET and BARROW...,Manhattan,"1, 2, 3","5, 6, 7, 84, 90",Film,Feature,United States of America,"10002, 10014, 10038, 11201, 11211"
2,753230,Shooting Permit,12/18/2023 07:00:00 AM,12/18/2023 11:59:00 PM,12/12/2023 10:09:19 AM,Mayor's Office of Media & Entertainment,ROSE FEISS BOULEVARD between EAST 139 STREET ...,Bronx,1,40,Television,Episodic series,United States of America,10454
3,752951,Shooting Permit,12/14/2023 07:00:00 AM,12/14/2023 09:00:00 PM,12/08/2023 09:29:50 AM,Mayor's Office of Media & Entertainment,ATLANTIC AVENUE between WASHINGTON AVENUE and ...,Brooklyn,8,77,Television,Episodic series,United States of America,11238
4,752181,Shooting Permit,12/13/2023 06:00:00 AM,12/13/2023 11:59:00 PM,12/01/2023 09:38:19 AM,Mayor's Office of Media & Entertainment,GRAND AVENUE between 64 STREET and FLUSHING AV...,Queens,"1, 5","104, 94",Television,Episodic series,United States of America,"11222, 11378"

In [52]:
print('Dimensions of the table: ',df.shape)
print(df.info())

Dimensions of the table:  (12441, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12441 entries, 0 to 12440
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EventID            12441 non-null  int64
 1   EventType          12441 non-null  object
 2   StartDateTime      12441 non-null  object
 3   EndDateTime        12441 non-null  object
 4   EnteredOn          12441 non-null  object
 5   EventAgency        12441 non-null  object
 6   ParkingHeld        12441 non-null  object
 7   Borough            12441 non-null  object
 8   CommunityBoard(s)  12438 non-null  object
 9   PolicePrecinct(s)  12438 non-null  object
 10  Category           12441 non-null  object
 11  SubCategoryName    12441 non-null  object
 12  Country            12441 non-null  object
 13  ZipCode(s)         12438 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.3+ MB
None

In [53]:
# Finding the unique fields
print(df.nunique())

EventID              12441
EventType                4
StartDateTime         5407
EndDateTime           6624
EnteredOn            12437
EventAgency              1
ParkingHeld           6543
Borough                  5
CommunityBoard(s)      311
PolicePrecinct(s)      718
Category                 9
SubCategoryName         26
Country                  4
ZipCode(s)            1334
dtype: int64

In [54]:
# keeping the original data as df and copying to new to apply changes
data = df

In [55]:
# counting the ParkingHeld values and making a new column for that
data['ParkingHeldCount'] = data['ParkingHeld'].apply(
    lambda x: len([y for y in x.split(',') if y.strip()]))

In [56]:
data.head()

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s),ParkingHeldCount
0,753784,Theater Load in and Load Outs,12/24/2023 12:01:00 AM,12/31/2023 11:59:00 PM,12/18/2023 12:59:21 PM,Mayor's Office of Media & Entertainment,WEST 62 STREET between COLUMBUS AVENUE and A...,Manhattan,7,20,Theater,Theater,United States of America,10023,3
1,752706,Shooting Permit,12/13/2023 06:00:00 AM,12/13/2023 08:00:00 PM,12/06/2023 09:01:38 AM,Mayor's Office of Media & Entertainment,HUDSON STREET between MORTON STREET and BARROW...,Manhattan,"1, 2, 3","5, 6, 7, 84, 90",Film,Feature,United States of America,"10002, 10014, 10038, 11201, 11211",13
2,753230,Shooting Permit,12/18/2023 07:00:00 AM,12/18/2023 11:59:00 PM,12/12/2023 10:09:19 AM,Mayor's Office of Media & Entertainment,ROSE FEISS BOULEVARD between EAST 139 STREET ...,Bronx,1,40,Television,Episodic series,United States of America,10454,5
3,752951,Shooting Permit,12/14/2023 07:00:00 AM,12/14/2023 09:00:00 PM,12/08/2023 09:29:50 AM,Mayor's Office of Media & Entertainment,ATLANTIC AVENUE between WASHINGTON AVENUE and ...,Brooklyn,8,77,Television,Episodic series,United States of America,11238,7
4,752181,Shooting Permit,12/13/2023 06:00:00 AM,12/13/2023 11:59:00 PM,12/01/2023 09:38:19 AM,Mayor's Office of Media & Entertainment,GRAND AVENUE between 64 STREET and FLUSHING AV...,Queens,"1, 5","104, 94",Television,Episodic series,United States of America,"11222, 11378",8

In [57]:
# since multiple zipcodes are there in each row

data['ZipCode'] = data['ZipCode(s)'].str.split(',')
data = data.explode('ZipCode')
data['ZipCode'] = data['ZipCode'].str.strip()

In [58]:
# dropping columns irrelevant to my analysis

data.drop(columns=['CommunityBoard(s)',
                   'PolicePrecinct(s)', 
                   'ZipCode(s)', 
                   'EventAgency',
                   'ParkingHeld'], inplace= True)

# EventAgency has only one value, it doesn't have any effect on the analysis, hence, dropping it.

In [59]:
# Updating the datatypes

data = data.astype({'EventType': 'category',
                'StartDateTime': 'datetime64[ns]',
                'EndDateTime': 'datetime64[ns]',
                'EnteredOn': 'datetime64[ns]',
                'Borough': 'category',
                'Category': 'category',
                'SubCategoryName': 'category',
                'Country': 'category',
                'ParkingHeldCount': 'int'})

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19216 entries, 0 to 12440
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EventID           19216 non-null  int64
 1   EventType         19216 non-null  category
 2   StartDateTime     19216 non-null  datetime64[ns]
 3   EndDateTime       19216 non-null  datetime64[ns]
 4   EnteredOn         19216 non-null  datetime64[ns]
 5   Borough           19216 non-null  category
 6   Category          19216 non-null  category
 7   SubCategoryName   19216 non-null  category
 8   Country           19216 non-null  category
 9   ParkingHeldCount  19216 non-null  int64
 10  ZipCode           19213 non-null  object
dtypes: category(5), datetime64[ns](3), int64(2), object(1)
memory usage: 1.1+ MB

In [61]:
print(data.describe(include= 'number'))
print('\nFor date columns:\n')
print(data[['StartDateTime', 'EndDateTime', 'EnteredOn']].agg(['count', 'min', 'max']))

             EventID  ParkingHeldCount
count   19216.000000      19216.000000
mean   769089.210346          4.082639
std     46294.145894          3.748236
min    677665.000000          1.000000
25%    728716.750000          1.000000
50%    773169.500000          3.000000
75%    810678.750000          6.000000
max    849655.000000         24.000000

For date columns:

             StartDateTime          EndDateTime            EnteredOn
count                19216                19216                19216
min    2023-01-01 00:01:00  2023-01-01 11:00:00  2022-10-20 11:11:11
max    2025-04-15 08:00:00  2025-04-24 23:59:00  2025-04-11 14:49:26

In [62]:
data.isnull().sum()

EventID             0
EventType           0
StartDateTime       0
EndDateTime         0
EnteredOn           0
Borough             0
Category            0
SubCategoryName     0
Country             0
ParkingHeldCount    0
ZipCode             3
dtype: int64

In [63]:
data.fillna({'ZipCode': 'Unknown'}, inplace= True)
data.astype({'ZipCode': 'str'})

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,Borough,Category,SubCategoryName,Country,ParkingHeldCount,ZipCode
0,753784,Theater Load in and Load Outs,2023-12-24 00:01:00,2023-12-31 23:59:00,2023-12-18 12:59:21,Manhattan,Theater,Theater,United States of America,3,10023
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,10002
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,10014
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,10038
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,11201
...,...,...,...,...,...,...,...,...,...,...,...
12437,847216,Theater Load in and Load Outs,2025-04-14 00:01:00,2025-04-17 06:00:00,2025-04-02 13:34:35,Manhattan,Theater,Theater,United States of America,2,10001
12438,848251,Shooting Permit,2025-04-14 09:00:00,2025-04-15 01:00:00,2025-04-07 10:57:28,Queens,Television,Episodic series,United States of America,4,11101
12439,844295,Shooting Permit,2025-04-15 06:00:00,2025-04-15 23:59:00,2025-03-21 13:55:06,Manhattan,WEB,Not Applicable,United States of America,1,10003
12440,693463,Shooting Permit,2023-02-02 06:00:00,2023-02-02 20:00:00,2023-01-30 08:19:27,Brooklyn,Television,Episodic series,United States of America,2,11237
12440,693463,Shooting Permit,2023-02-02 06:00:00,2023-02-02 20:00:00,2023-01-30 08:19:27,Brooklyn,Television,Episodic series,United States of America,2,11385

In [64]:
data.isna().sum()

EventID             0
EventType           0
StartDateTime       0
EndDateTime         0
EnteredOn           0
Borough             0
Category            0
SubCategoryName     0
Country             0
ParkingHeldCount    0
ZipCode             0
dtype: int64

In [65]:
data.head()

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,Borough,Category,SubCategoryName,Country,ParkingHeldCount,ZipCode
0,753784,Theater Load in and Load Outs,2023-12-24 00:01:00,2023-12-31 23:59:00,2023-12-18 12:59:21,Manhattan,Theater,Theater,United States of America,3,10023
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,10002
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,10014
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,10038
1,752706,Shooting Permit,2023-12-13 06:00:00,2023-12-13 20:00:00,2023-12-06 09:01:38,Manhattan,Film,Feature,United States of America,13,11201

In [66]:
data[data['ZipCode'] == 'Unknown']

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,Borough,Category,SubCategoryName,Country,ParkingHeldCount,ZipCode
4175,704436,Shooting Permit,2023-03-30 05:00:00,2023-03-30 10:00:00,2023-03-27 15:03:44,Brooklyn,Television,Episodic series,United States of America,1,Unknown
4959,697195,Shooting Permit,2023-02-26 01:00:00,2023-02-26 13:00:00,2023-02-21 07:43:20,Manhattan,Television,News,United States of America,1,Unknown
12187,845230,Shooting Permit,2025-04-02 09:00:00,2025-04-03 18:00:00,2025-03-25 16:32:24,Brooklyn,Still Photography,Not Applicable,United States of America,1,Unknown

In [67]:
# finally exporting as a csv file
data.to_excel('cleaned_data.xlsx', index= False)